.container-todo{
    
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
      
   
}

.container-todo .content{
    word-break: break-all;
}

.content p{
    display: flex;
    flex-wrap: wrap;    
    font-size: 0.5rem;
   
}

.complete{
        text-decoration: line-through;
}

.btn-task{
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 30px;
    font-size: 0.25rem;
    border: 1px solid #14F905;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
}

button:hover{
    background-color: #14F905;
    color: #000;
}

.container-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
}


@media(max-width: 750px){
    .container-todo{
        width:50vw;
          
       
    }
    
}

@media(max-width: 500px){
    .container-todo{
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
          
       
    }
    
}